<div class="container z-depth-3" id="primaryIndex">
    <div class="col s12 light-green lighten-4">Welcome to 0RD3R^ <br/> What would you like to do?</div>
    <div class="row">
        <div class="col s6 light-green lighten-1">
            <a href="/user/new">Create New User</a>
        </div>
        <div class="col s6 light-green">
            <a href="/user">Go to Users</a>
        </div>
    </div>
</div>