<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Share+Tech|Share+Tech+Mono" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="col s12 z-depth-3 green darken-4" id="logo">
    <div class="lime-text text-lighten-3">
      0RD3R^
    </div>
  </div>

  {{{body}}}


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>

</html>