<div class="row light-green lighten-4 z-depth-3">
    <form action="/user" method="POST">
        <div>
            <label for="name">User Name</label>
            <input type="text" name="name" placeholder="User Name" />
        </div>
        <div>
            <label for="restaurant">Set Restaurant</label>
            <input type="text" name="restaurant" placeholder="Restaurant"></input>
        </div>
        <button type="submit">Save New User</button>
    </form>
</div>
<a href="/user">return</a>