<h1>Add New User point</h1>

<form action="/user" method="POST">
  <div>
    <label for="name">User Name</label>
    <input type="text" name="name" placeholder="User Name" />
  </div>
  <div>
    <label for="restaurant">Set Restaurant</label>
    <input type="text" name="restaurant" placeholder="Restaurant"></input>
  </div>
  <button type="submit">Save New User</button>
</form>
<a href="/user">return</a>