html {
  background-color: rgb(203, 209, 177);
}

#logo {
  text-align: center;
  font-size: 7vh;
  font-family: 'Share Tech Mono', monospace;
}

body {
  padding: 2vh;
  font-family: 'Roboto', sans-serif;
}

a, .delete {
  color: rgb(55, 116, 55);
}

a:hover, .delete:hover {
  color: rgb(141, 57, 57);
  font-family: 'Share Tech Mono', monospace;
}

#primaryIndex {
  line-height: 10vh;
  text-align: center;
  font-size: 4vw;
}

.listedUser {
  text-align: left;
  padding: 2vw;
  font-size: 3vw;
  line-height: 4vw;
}

.return {
  font-size: 2vh;
  font-weight: 600;
  font-family: 'Share Tech Mono', monospace;
}

form {
  padding: 3vh;
}
label {
  color: rgb(32, 87, 32);
  font-size: 2vh;
}

input[type=text]:not(.browser-default){
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
  color: rgb(33, 41, 32);
  border-bottom: 2px solid rgb(28, 46, 27);
}

button {
  font-family: 'Share Tech Mono', monospace;
  background-color: rgb(219, 217, 100);
  border: none;
  border-radius: 10%;
  font-size: 2vh;
}

.orderList {
  text-align: center;
  font-size: 3vh;
}

.que {
  padding: 1vw;
}

.quedUp {
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  border-radius: 50% 50% 0% 0%;
}

.menus {
  font-size: 3vh;
}

.menuSelect {
  color: rgb(84, 170, 27);
}

.menUp {
  font-size: 2vh;
}

.edit, .delete {
  font-size: 2vh;
  font-family: 'Share Tech Mono', monospace;
  font-weight: 700;
}

.delete {
  background-color: rgba(255, 0, 0, 0);
  padding: 0px;
}

.orderup {
  font-size: 4vh;
}

.dish {
  padding: 2vh;
  font-size: 3vh;
  font-family: 'Share Tech Mono', monospace;
}

.dishName {
  font-size: 4vh;
  font-weight: 600;
  color: rgb(36, 83, 36);
}