html {
  background-color: rgb(203, 209, 177);
}

#logo {
  text-align: center;
  font-size: 7vh;
  font-family: 'Share Tech Mono', monospace;
}

body {
  padding: 2vh;
  font-family: 'Roboto', sans-serif;
}

a {
  color: rgb(55, 116, 55);
}

a:hover {
  color: rgb(223, 223, 223);
  font-family: 'Share Tech', sans-serif;
}

#primaryIndex {
  line-height: 10vh;
  text-align: center;
  font-size: 3vh;
}

form {
  padding: 3vh;
}