<h1>create new menu</h1>


<form action="/user/{{userId}}/menu" method="POST">
  <div>
    <label for="name">Menu Name</label>
    <input type="text" name="name" placeholder="Menu Name" />
  </div>
  <button type="submit">Save New Menu</button>
</form>
<a href="/user/{{userId}}/menu">return</a>